html {
    webkit-text-size-adjust: none;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    background: #000;
    color: #dedede;
}

a, a:visited {
    text-decoration: none;
    color: #dedede;
    font-size: 16px;
}

section {
    display: none;
    min-height: 100vh;
}

    section.visible {
        display: block;
    }

.hidden {
    display: none !important;
}

.floating {
    -webkit-box-shadow: 0 0 30px 3px rgba(0,0,0,1);
    box-shadow: 0 0 30px 3px rgba(0,0,0,1);
}

#login {
    text-align: center;
}

    #login form {
        width: 400px;
        display: inline-block;
        margin-top: 100px;
    }

    #login label,
    #login input,
    #login button {
        float: left;
    }

    #login label {
        clear: both;
        width: 100px;
    }

    #login input {
        width: 200px;
        margin-bottom: 10px;
    }

    #login button[type='submit'] {
        clear: both;
        margin-left: 100px;
        width: 204px;
        background: #808080;
        color: #fff;
    }

#app {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}

    #background .image-host {
        position: absolute;
        z-index: -100;
        height: 100vh;
        width: 100%;
        /*background: #404142;
        background: -moz-radial-gradient(right bottom, farthest-side, #404142 0%, #2c2d2d 42%, #000000 100%);
        background: -webkit-gradient(radial, 100% 100%, 0px, 100% 100%, 100%, color-stop(0%,#404142), color-stop(42%,#2c2d2d), color-stop(100%,#000000));
        background: -webkit-radial-gradient(right bottom, farthest-side, #404142 0%,#2c2d2d 42%,#000000 100%);
        background: -o-radial-gradient(right bottom, farthest-side, #404142 0%,#2c2d2d 42%,#000000 100%);
        background: -ms-radial-gradient(right bottom, farthest-side, #404142 0%,#2c2d2d 42%,#000000 100%);
        background: radial-gradient(farthest-side at right bottom, #404142 0%,#2c2d2d 42%,#000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404142', endColorstr='#000000',GradientType=1 );*/
        background-image: url(../images/background-wall-cracks.jpg);
        background-size: cover;
    }

/* Controls */
audio {
    margin: 5px 10px 10px 5px;
    float: left;
    margin-right: 10px;
}

.controls {
    float: left;
}

    .controls a {
        background: black;
        display: inline-block;
        margin: 2px 0 0px 14px;
        border: 2px solid #404040;
        border-radius: 20px;
        padding: 8px 14px;
        font-size: 18px;
        line-height: 14px;
    }

    .controls .control-group {
        display: inline-block;
        margin: 0 0 0px 10px;
        padding: 0;
    }

        .controls .control-group a {
            border-radius: 0;
            border-right: none;
            margin: 0;
        }

            .controls .control-group a:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .controls .control-group a:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-right: 2px solid #404040;
            }

.toolbar {
    padding-top: 8px;
    float: left;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #404040;
}

.overlay {
    background: #404040;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 87%, rgba(0,0,0,0.65) 100%), url(../images/background-texture-dots.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(10%,rgba(0,0,0,0.3)), color-stop(39%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0)), color-stop(87%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.65))), url(../images/background-texture-dots.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 87%,rgba(0,0,0,0.65) 100%), url(../images/background-texture-dots.jpg);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 87%,rgba(0,0,0,0.65) 100%), url(../images/background-texture-dots.jpg);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 87%,rgba(0,0,0,0.65) 100%), url(../images/background-texture-dots.jpg);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 87%,rgba(0,0,0,0.65) 100%), url(../images/background-texture-dots.jpg);
    /*background-image: url(../images/background-texture-dots.jpg);*/
    background-size: cover;
}

.file-list-view .controls {
}

.file-list-view .directory-info {
    line-height: 32px;
    text-transform: capitalize;
    font-size: 18px;
    float: right;
    margin: 3px 5vw 10px 5vw;
}

.file-list-view .list-section {
    text-align: center;
    clear: both;
    position: relative;
    min-height: 90vh;
}

    .file-list-view .list-section .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }


/* Tiles */
/* -- responsive sizes -- */

ul.list {
    width: 93vw;
}

.list .item {
    margin: 1vw;
}

    .list .item .image-container {
        height: 16vw;
    }

.list.directory .item,
.list.file .item,
.song-queue .list.file.song .item,
.song-queue .list.file.song .item .item-select {
    width: 16vw;
}

.list.directory .item,
.song-queue .list.file.song .item {
    height: 20vw;
}

.list.file .item {
    height: 4vw;
}

.list .item .meta-info {
    min-height: 4vw;
}

.list.song .item .item-select {
    width: 28vw;
}

/*.song-queue {
    height: 28vw;
}*/

.list.file.song .item {
    width: 36vw;
    background: black;
}

.list.song .item .song-controls {
    width: 8vw;
}

    .list.song .item .song-controls a {
        width: 4vw;
    }



@media screen and (max-width: 480px) {

    ul.list {
        width: 84vw;
    }

    .list .item {
        margin: 2vw;
    }

        .list .item .image-container {
            height: 37vw;
        }

    .list.directory .item,
    .list.file .item,
    .song-queue .list.file.song .item,
    .song-queue .list.file.song .item .item-select {
        width: 37vw;
    }

    .list.directory .item,
    .song-queue .list.file.song .item {
        height: 45vw;
    }

    .list.file .item {
        height: 8vw;
    }

    .list .item .meta-info {
        min-height: 8vw;
    }

    .list.song .item .item-select {
        width: 66vw;
    }

    /*.song-queue {
        height: 66vw;
    }*/

    .list.file.song .item {
        width: 82vw;
    }

    .list.song .item .song-controls {
        width: 16vw;
    }


        .list.song .item .song-controls a {
            width: 8vw;
        }
}

/* ==== */

.file-list-view {
    min-height: 100vh;
}

ul.list {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    clear: both;
}

.file-list-view .list:last-child {
    margin-bottom: 200px;
}

.file-list-view .list.file.song {
    margin-top: 30px;
}

.list .item {
    position: relative;
    display: block;
    float: left;
    border: 1px solid grey;
    background: black;
}

    .list .item > * {
        position: relative;
    }

    .list .item .item-select {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .list .item .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-size: cover;
        /*opacity: 0;
    transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;*/
    }

/*.list .item .image-container.loaded {
        opacity: 1;
        outline: 1px solid red;
    }*/

.file.list .item .image-container {
    display: none;
}

.song-queue .list.file.song .item .image-container {
    display: block;
}

.list .item .meta-info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #dedede;
    font-size: 11px;
    text-transform: capitalize;
}

    .list .item .meta-info > span {
        padding: 0 5px;
        display: block;
    }

        .list .item .meta-info > span:first-child {
            padding-top: 5px;
        }

        .list .item .meta-info > span:last-child {
            padding-bottom: 5px;
        }

    .list .item .meta-info .artist {
        font-size: 13px;
        color: #9cc2ff;
    }

    .list .item .meta-info .album {
    }

    .list .item .meta-info .meta {
        font-size: 9px;
        color: #dedede;
        display: none;
    }

.list.genreDirectory .item .meta-info {
    font-size: 20px;
}

.song-queue .list .item .meta-info {
    font-size: 16px;
}

    .song-queue .list .item .meta-info .artist {
        font-size: 18px;
    }

.list.file.song .item {
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
}

    .list.file.song .item > * {
        display: block;
        float: left;
    }

    .list.file.song .item .meta-info {
        text-align: left;
        font-size: 16px;
    }

.song-queue .list.song .item .meta-info {
    padding: 5%;
    width: 90%;
}

.list.song .item .meta-info > * {
    display: inline-block;
    margin-right: 4px;
}

.song-queue .list.song .item .meta-info > * {
    clear: both;
}

.song-queue .list.song .item .meta-info .track-number,
.file-list-view .list.song .item .meta-info .artist {
    display: none;
}

.list.song .item .song-controls {
    height: 100%;
    background: #ccc;
    float: right;
}

    .list.song .item .song-controls a {
        float: right;
        display: block;
        height: 100%;
        border: 1px solid black;
        box-sizing: border-box;
        color: black;
    }


/* PLAYER */
.player-view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

    .player-view .positioner {
        height: 100%;
        width: 1px;
        position: relative;
        top: 0;
        left: -1px;
    }

        .player-view .positioner .drawer {
            border-top: 2px solid #404040;
            padding-top: 10px;
            position: absolute;
            bottom: 0;
            width: 100vw;
            transition: bottom 250ms ease-out;
        }

    .player-view .drawer .toggle {
        position: absolute;
        height: 30px;
        top: -32px;
        right: 20px;
        border: 2px solid #404040;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .player-view .positioner .drawer,
    .player-view .drawer .toggle {
        background-color: #000;
        background-size: cover;
    }

.player .controls a {
    margin-top: 3px;
}

#nowPlaying {
    /*float: left;
    clear: both;
    width: 100%;*/
    text-transform: capitalize;
}

    #nowPlaying .current-song-info {
        float: right;
        margin: 0 20px 0 11px;
        min-width: 150px;
        display: none;
    }

        #nowPlaying .current-song-info > span {
            margin: 0;
            font-size: 24px;
        }

        #nowPlaying .current-song-info span.separator {
            margin: 0 11px;
        }

.song-queue {
    width: 100%;
    float: left;
    clear: both;
    overflow-x: scroll;
}

    .song-queue .list.file.song {
        width: 100%; /* Dynamically altered when items are added. */
    }

        /* TODO: Too specific? */
        .song-queue .list.file.song .item {
            clear: none;
        }

            .song-queue .list.file.song .item .song-controls {
                display: none;
            }

    .song-queue .item {
        border: 3px solid transparent;
    }

        .song-queue .item.selected {
            border-color: darkred;
        }
