<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <clear />
          <rule name="ReverseProxyInboundRule1" stopProcessing="true">
            <match url="^api/(.*)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{CACHE_URL}" pattern="^(https?)://" />
            </conditions>
            <action type="Rewrite" url="{C:1}://service.pogoplug.com/svc/api/{R:0}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
