<!-- NOTE: The parentid is one level too low. We need its parent. -->
<div class="file-list-view">
   <div class="toolbar">
    <div class="controls file-info"
      data-fileid="<%= parentDirectory.parentid %>"
      data-type="<%= Pogoplug.Enums.FileType.directory %>">
      <a data-command="select" href="" class="navigate up">
        &larr;
      </a>
      <a data-command="playAll" href="" class="play-all">
        &#9654; &#10036;
      </a>
      <a data-command="addAll" href="" class="add-all">
        &#43; &#10036;
      </a>
      <a data-command="shuffleAll" href="" class="shuffle-all">
        &#10020; &#10036;
      </a>
    </div>
    <div class="directory-info">
      <%= parentDirectoryViewModel.displayName %>
    </div>
  </div>
  <div class="list-section">
    <div class="mask"></div>
    <%
      var lists = ["genreDirectories", "albumDirectories", "songs", "images", "otherFiles"];
    %>
    <% for (var i = 0, len = lists.length; i < len; i++) { %>
      <% if (this[lists[i]].length > 0) { %>
        <%= App.View.render("itemList", { list: this[lists[i]] }) %>
      <% } %>
    <% } %>
  </div>
</div>
