<li class="item file-info floating"
  data-fileid="<%= file.fileid %>"
  data-type="<%= file.type %>"
  data-filetype="<%= fileType %>">
  <a href="" class="item-select" data-command="select">
    <div class="image-container"
      style="background-image: <%= App.Utils.formatBackgroundImageCss("") %>">
    </div>
    <div class="meta-info">
      <% if (this instanceof App.ViewModel.AlbumDirectoryViewModel) { %>
        <span class="artist"><%= artist %></span>
        <span class="album"><%= album %></span>
        <span class="meta"><%= meta %></span>
      <% } else { %>
        <% if (this instanceof App.ViewModel.SongViewModel) { %>
          <span class="artist"><%= artist %></span>
          <% if (!!this["trackNumber"]) { %>
            <span class="track-number"><%= trackNumber %></span>
          <% } %>
        <% } %>
        <span class="name"><%= displayName %></span>
      <% } %>
    </div>
  </a>
  <% if (this instanceof App.ViewModel.SongViewModel) { %>
    <div class="song-controls">
      <a data-command="play" href="">&#9658;</a>
      <a data-command="addSong" href="">+</a>
    </div>
  <% } %>
</li>