<div class="player-view">
  <div class="positioner">
    <div class="drawer floating overlay">
      <a data-command="toggleVisibility" class="toggle" href="">&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <div class="player">
        <audio controls="controls"></audio>
        <div class="controls">
          <div class="control-group">
            <a data-command="previous" href="">
              &#9665;
            </a><a data-command="next" href="">
              &#9655;
            </a><a data-command="play" href="" class="hidden">
              &#9654;
            </a><a data-command="stop" href="">
              &#9632;
            </a><a data-command="clearQueue" href="">
              &#10006;
            </a><a data-command="shuffleQueue" href="">
              &#10020;
            </a>
          </div>
          <div class="control-group">
            <a data-command="showVisualization" href="" title="Show Visualization">
              &#9732;
            </a>
          </div>
        </div>
      </div>
      <div id="nowPlaying">
        <p class="current-song-info">
          <span data-bind="artist"></span>
          <span class="separator">|</span>
          <span data-bind="displayName"></span><!--
            <span class="separator">|</span>
          <span data-bind="album"></span>-->
        </p>
        <div class="song-queue"></div>
      </div>
    </div>
  </div>
</div>
